.preview {
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 50%, rgba(101, 169, 60, 0.8) 50%, rgba(101, 169, 60, 0.8) 100%);
    padding-top: 142px;
    margin-top: -142px;

    position: relative;

    min-height: 696px;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;

    &::after {
        position: absolute;
        content: '';
        background-image: url('../img/cat-bg.png');
        width: 500px;
        height: 500px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        top: 0;
        left: 50%;
        transform: translateX(25%);
        z-index: -1;
        pointer-events: none;
    }

    & .content {
        width: 50%;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        position: relative;

        & h2 {
            font-family: inherit;
            font-weight: 400;
            font-size: 60px;
            line-height: 60px;
            color: #000000;
            max-width: 430px;
        }

        & p {
            font-family: inherit;
            font-weight: 400;
            font-size: 20px;
            line-height: 20px;
            text-transform: uppercase;
            color: #000000;
            margin-top: 40px;
            max-width: 300px;
        }

        & a {
            font-family: 'Oswald';
            font-weight: 400;
            font-size: 20px;
            line-height: 23px;
            text-transform: uppercase;
            color: #FFFFFF;
            display: inline-block;
            padding: 14px 26px;
            background: #68B738;
            margin-top: 66px;
        }

        & img {
            width: 552px;
            height: 499px;
            object-fit: contain;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(calc(-50% + 60px), -50%);
        }
    }
}
@media (min-width: 0) and (max-width: 1439px) {
    .preview {
        background: #fff;
        &::after {
            background-image: none;
        }
    }
}